{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}

<style>
.col-sm-6{
  margin: 0 auto;

}


</style>

<div class="row p-3" style="padding-top: 10rem;">
  <div class="container2 col-sm-6 p-5" style="background-color:#191c24; text-align: left; border-radius: 10px;" data-aos="fade-up">
    
    <form action="{% url 'admin_save_category' %}" method="POST" enctype="multipart/form-data" style="text-align: center;">
      {% csrf_token %}
      
      
      
    
            <div class="row mb-4">
                <div class="col-sm-12"style="border-radius: 10px;">
                  <h3 class="text-uppercase" style="color:#fff; font-family:bold; font-size:20px;" >Add Category</h3>
                  <hr>
                </div>
              </div>
              
              
              <div class="row mt-3">
                <div class="col-sm-12">
            
                  <input id="category_name" type="text" name="category_name"placeholder="Category Name" class="form-control  text-light" required/>
                </div>
                <div class="col-sm-2">
                  
            
        
                </div>
              </div>
        
             
              
              <div class="row mt-3">
                <div class="col-sm-12" style="text-align: center;">
                  <input id="submit" class="btn btn-light " type="submit" name="submit" value="Submit" />
        
                </div>
              </div>
      
      


    </form>
 





<script>
  const categoryImageInput = document.getElementById("category_image");
  const previewImage = document.getElementById("preview-image");

  categoryImageInput.addEventListener("change", function () {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      reader.addEventListener("load", function () {
        previewImage.src = reader.result;
      });
      reader.readAsDataURL(file);
    } else {
      previewImage.src = "#";
    }
  });
</script>


<script>
  $(document).ready(function(){
    
    $('#add_req_row').click(function(){
    
        $('#ad_req_nts').append(
            `
            <div class="row pt-1">
              <div class="col-sm-10">
                <input type="text" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;color:#6C7293;" name='subcat[]' placeholder="Sub Category Name" required>
              </div>
              
            </div>
                                            
            `
        );
    });
  });
</script>
  
<script>
 window.addEventListener('load', () => {
      AOS.init({
          duration: 1000,
          easing: 'ease-in-out',
          once: true,
          mirror: false
      })
  });

</script>







{% endblock %}