{% extends 'admin/admin_base.html' %}
<!-- DEVprojects -->
{%load static%}
{%block content%}

<style>
.fc-button{
    background-color: green;
}
.flash-message {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #2596be;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

</style>
<!-- https://projectsplaza.com/how-to-create-bar-chart-image-with-matplotlib-in-django/
pip install matplotlib -->
<div class="row">
   
    <div class="col-md-4 card  text-light mt-2" style="background-color: black;">
        <div class="flash-message" id="flashMessage"> 
            <h4>Events</h4>
            <p id="text_flash"></p>
        </div>
        <div class="">
            <canvas id="myChart" class="p-2" style="background-color: rgb(20, 20, 20); border-radius: 8px;"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var gradient = ctx.createLinearGradient(0, 100, 0, 0);
            gradient.addColorStop(1, '#7479d5'); // transparent at the bottom
            gradient.addColorStop(0, 'rgb(20, 20, 20)'); // orange color at the top
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in data %} '{{ data.name }}', {% endfor %}],
            datasets: [{
                label: 'Quantity',
                data: [{% for data in data %} {{ data.buying_count }}, {% endfor %}],
                backgroundColor: gradient, // Set the gradient as the background color

                borderColor: [
                    '#7479d5',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    borderWidth: 1
            }]
                },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        </script>
    </div>

    <div class="col-md-4 card  text-light mt-2" style="background-color: black;">
        <div class="ml-2">
            <canvas id="myChart2" class="p-2" style="background-color: rgb(20, 20, 20);border-radius: 8px;"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var gradient = ctx.createLinearGradient(0, 100, 0, 0);
            gradient.addColorStop(1, '#54cff0'); // transparent at the bottom
            gradient.addColorStop(0, 'rgb(20, 20, 20)'); // orange color at the top
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in sub_cat %} '{{ data.subcategory }}', {% endfor %}],
            datasets: [{
                label: 'Quantity',
                data: [{% for data in sub_cat %} {{ data.buying_count }}, {% endfor %}],
                backgroundColor: gradient, // Set the gradient as the background color
                borderColor: [
                    '#54cff0',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                    borderWidth: 1
            }]
                },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        </script>
    </div>

    <div class="col-md-4 card  text-light mt-2" style="background-color: black;">
        <div class="ml-2 ">
            <canvas id="myChart3" class="p-2"  style="background-color: rgb(20, 20, 20); border-radius: 8px; "></canvas>
        </div>
        <script>
            var ctx = document.getElementById('myChart3').getContext('2d');
            var gradient = ctx.createLinearGradient(0, 100, 0, 0);
            gradient.addColorStop(1, '#077c5b'); // transparent at the bottom
            gradient.addColorStop(0, 'rgb(20, 20, 20)'); // orange color at the top
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for data in nm %} '{{data}}', {% endfor %}],
            datasets: [{
                label: 'Quantity',
                data: [{% for data in cnt %} {{ data }}, {% endfor %}],
                backgroundColor: gradient, // Set the gradient as the background color

                borderColor: [
                    '#077c5b',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    borderWidth: 1
            }]
                },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });
        </script>
    </div>

</div>

<div class="row">

</div>
<div class="col-md-12 p-4 mt-4" style="background-color: rgb(20, 20, 20); border-radius: 8px;">    
    <div id='calendar' style=""></div> 
</div>

<div class="rowmt-5 modal fade" id="create_post">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <div class="row">
              <div class="col-lg-10 col-md-12 col-sm-12 mt-2" style="margin: 0 auto;">
                  <div class="card">
                      
                      <div class="card-body">
                         
                              
                              <div class="row" >
                                  <div class="col-12 col-sm-12 col-xl-12 my-auto" style="margin: 0 auto;">
                                      
                                      <textarea class=" form-control text-light" style="border:0px solid #6C7293 ;height:400px; width: 100%; font-size: 16px;" placeholder="Type something else..." id="dsrptn"></textarea>
                                  </div>
                              </div>
  
                              
                              <hr>
                              <div class="row mt-3" >
                                  <div class="col-sm-12" style="text-align: right;">
                                      <div>
                                          
  
                                          <button  class="btn btn-outline-primary mt-4 ml-4" id="saveEvent" >Save</button>
                                 
                                      
                                      
                                      </div>
                                  </div>
                                  
                          
                                    
                              </div>
                         
                          
  
                  
                      </div>
                     
                  </div>
              </div>
          
          </div>
      </div>
      
      <br><br>
    </div>
  </div>
</div>




<script>
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,'
            },
            events: '/all_events',
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            select: function (start, end, allDay) {
                var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                $('#create_post').modal('show');
                $('#saveEvent').off('click').on('click', function() {
                var title = $('#dsrptn').val();
                
                var formData = new FormData();
                formData.append('title', title);
                formData.append('start', start);
                
                
                $.ajax({
                    type: "POST",
                    url: "{% url 'add_event' %}",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            alert("Added Successfully");
                            $('#create_post').modal('hide');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                });
            },

            eventResize: function (event) {
                var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                var title = event.title;
                var id = event.id;
                $.ajax({
                    type: "GET",
                    url: '/update',
                    data: {'title': title, 'start': start, 'end': end, 'id': id},
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Event Update');
                    },
                    error: function (data) {
                        alert('There is a problem!!!');
                    }
                });
            },
  
            eventDrop: function (event) {
                
                var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                var title = event.title;
                var id = event.id;
                $.ajax({
                    type: "GET",
                    url: '/update',
                    data: {'title': title, 'start': start, 'end': end, 'id': id},
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        alert('Event Update');
                    },
                    error: function (data) {
                        alert('There is a problem!!!');
                    }
                });
            },
  
            eventClick: function (event) {
                    var flashMessage = document.getElementById("flashMessage");
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: '/remove',
                        data: {'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            // Show the flash message
                            flashMessage.style.display = "block";
                           
                            if (data.title){
                                document.getElementById("text_flash").innerHTML = `${data.title}`;
                            }else{
                                document.getElementById("text_flash").innerHTML= `Ordrer_id : ${data.dt} <br>Order Date : ${data.date} <br> Order Parson : ${data.or_nm}`
                            }

                            
                            // Hide the flash message after 3 seconds (adjust as needed)
                            setTimeout(function () {
                                flashMessage.style.display = "none";
                            }, 6000);
                            
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                
            },
  
        });
    });
  
 </script>   

          
  {% endblock %}