{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
<style>
.col-sm-6{
  margin: 0 auto;

}


</style>

<div class="row p-3" style="padding-top: 10rem;">
  <div class="container2 col-sm-6 p-5" style="background-color:#191c24; text-align: left; border-radius: 10px;" data-aos="fade-up">
    
    <form action="{% url 'admin_subcategory' %}" method="POST" enctype="multipart/form-data" style="text-align: center;">
      {% csrf_token %}
      <div class="row mb-4">
        <div class="col-sm-12"style="border-radius: 10px;">
          <h3 class="text-uppercase" style="color:#fff; font-family:bold; font-size:20px;" >Add Sub Category</h3>
          <hr>
        </div>
      </div>
      
      
      <div class="row mt-3">
        <div class="col-sm-12">
    
          <div class="form-item form-item1">
            <label for="categories" style="text-align: left;">Categories</label>
            <select name="category_name" id="categories" class="form-control text-light">
              
              {% for item in cat_all %}
              <option value="{{ item.id }}">
                {{ item.category_name }}
              </option>
              {% endfor %}
            </select>
        </div>

        </div>
        
      </div>

      <div class="row mt-3">
        <div class="col-sm-12" style="text-align: left;">
          <div id="ad_req_nts">
          
          </div>
          <div class="btn btn-light mt-2" id="add_req_row" title="Add New Sub Category">Add Sub Categories</div>
          
          
        </div>
      </div>
      
      <div class="row mt-3">
        <div class="col-sm-12" >
          <input id="submit" class="btn btn-light " type="submit" name="submit" value="Submit" />

        </div>
      </div>


    </form>
  </div>
</div>





<script>
  const categoryImageInput = document.getElementById("category_image");
  const previewImage = document.getElementById("preview-image");

  categoryImageInput.addEventListener("change", function () {
    const file = this.files[0];
    if (file) {
      const reader = new FileReader();
      reader.addEventListener("load", function () {
        previewImage.src = reader.result;
      });
      reader.readAsDataURL(file);
    } else {
      previewImage.src = "#";
    }
  });
</script>


<script>
  $(document).ready(function(){
    var it=0
    $('#add_req_row').click(function(){
        it++


        $('#ad_req_nts').append(
          
            `
            <div class="row pt-1" id="main${it}">
              <div class="col-sm-10">
                <input type="text" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;color:#6C7293;" name='subcat[]' id="row${it}" placeholder="Sub Category Name" required>
              </div>
              <div class="col-sm-2 " id="btn${it}">
               <div class="btn btn-danger mt-2 pt-2 pb-2" onclick=remove_cat('${it}')><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                </svg></div>
              </div>
            </div>
                                            
            `
        );
        it+=1
    });
  });
</script>
  
<script>
  function remove_cat(id){
    document.getElementById(`main${id}`).remove()
    
    document.getElementById(`btn${id}`).remove()
  
    }
    
</script>

<script>
  window.addEventListener('load', () => {
       AOS.init({
           duration: 1000,
           easing: 'ease-in-out',
           once: true,
           mirror: false
       })
   });
 
 </script>





{% endblock %}