{% extends 'admin/admin_base.html' %}
{% load static %}
{% block content %}
<div class="row pt-3" style="background-color: black;">
    <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">User List</div>
  </div>
  
  <div class="row mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row mt-3 mb-3" >
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12" style="text-align: right;">
                <a href="" data-toggle="modal" data-target="#flt_date"
                    style="text-decoration: none;"><div class="btn btn-primary">Download Users List</div></a><br><br>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <input type="text" class="form-control text-light" id="search" placeholder="Search here...">
              </div>
             
            </div>
            
          </div>
          
        </div>
        
        
        <div class="table-responsive">
          <table class="table" >
            <thead>
              <tr>
                <th scope="col" style="color:#6C7293;">Customer Id</th>
                <th scope="col" style="color:#6C7293;">Name</th>
                
                <th scope="col" style="color:#6C7293;">Join Date</th>
                <th scope="col" style="color:#6C7293;">Date of Birth</th>
                <th scope="col" style="color:#6C7293;">Phone Number</th>
                <th scope="col" style="color:#6C7293;">Email</th> 
                <th scope="col" style="color:#6C7293;">Location</th>
                <th scope="col" style="color:#6C7293;">Actions</th>
                
              </tr>
            </thead>
            <tbody id="myTable">
                {%for staff_member in staff_members%}
                <tr>
                    <td style="color:white;">{{ staff_member.regno }}</td>
                <td style="color:white;">{{ staff_member.name }}</td>
                
            
                <td style="color:white;">{{ staff_member.joindate }}</td>
                <td style="color:white;">{{ staff_member.dob }}</td>
                <td style="color:white;">{{ staff_member.number }}</td>
                <td style="color:white;">{{ staff_member.email }}</td>
                <td style="color:white;">{{ staff_member.location }}</td>
                {%if staff_member.status == "active"%}
                <td><a href="{% url 'deactive_user' staff_member.id%}" onclick="return confirm('Are you sure, you want to deactivate it?')" class="btn btn-danger"> Deactivate</a></td>
                
                {%else%}
                <td><a href="{% url 'active_user'  staff_member.id%}" onclick="return confirm('Are you sure, you want to activate it?')" class="btn btn-success"> Active</a></td>
                {%endif%}
     
                <td class="action-buttons">
                    
                    <a href="{% url 'delete_user' staff_member.id%}"  onclick="return confirm('Are you sure, you want to delete it?')" class="btn btn-danger"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg></a>
                    
                
                </td>
                </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>

  
<div class="rowmt-5 modal fade" id="flt_date">
  <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-content modal-xl" style="background-color: #191c24;">
      <div class="card ">
        <div class="card-body">
          <button type="button" class="close text-light" data-dismiss="modal" aria-label=""
            style="background-color: #191c24;border:none;float: right;font-size: 20px;">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-info" style="font-size: 20px;font-weight: 600;">Filter By Date</div>

          <form action="{% url 'export_user_excel'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 

            <div class="row mt-5">
              
              <div class="col-md-6 ">
                  <div>
                      <label for="">Start Date</label>
                  </div>
                  <div>
                  <input type="date" class="drop form-control ml-3 mt-2 text-light" name="str_dt" style="border:1px solid #6C7293 ;height:70px;"  >
                  </div>

    
              </div>
              <div class="col-md-6 ">
                  <div>
                      <label for=""> End Date</label>
                  </div>
                  <div>
                      <input type="date" name="end_dt" class="drop form-control ml-3 mt-2 text-light" style="border:1px solid #6C7293 ;height:70px;"  >
                  </div>

    
              </div>

            </div>

            <div class="row mt-4 ">
              <div class="col-md-12" style="text-align: center;">
                  
                      <button type="submit" name="submit" id="alert2" class="btn-primary Search" >Download Excel</button>
                  
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  


  <script>
    $(document).ready(function () {
      $("#search").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  
    $(document).ready(function () {
      $("#search_ts").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  
    $(document).ready(function () {
      $("#search_ex").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
  
  <script type="text/javascript">
    function setselected(id) {
      $('input[name="selected"]').val(id);
    }
  </script>
  
  
{% endblock %}