{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

#main_div{
    padding: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    text-align: justify;
}

#logoss{
   
}
#button{
    padding-right: 6rem;
    margin-top: 3%;
}

@media screen and (max-width: 960px) {  
#main_div{
    padding: 0.5%;

    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
}
#logoss{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#button{
    padding-right: 2rem;
    margin-top: 3%;
}
  
}

#logoss_deli{
    margin-top: 1rem;
}

</style>
<div class="container-fluid" >

    <div class="row mt-3">
        <div class="col-sm-12 ">
            <div class="row" id="main_div" style="">
                <div class="col-sm-4 text-center" style="text-align: center; ">
                    <img src="static\images\static_image\about.jpg" alt="{{i.category_name}}" class=" w-100" id="logoss" >
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 ><b>ABOUT US</b></h3>
                            <p>We are a design compnay in Kerala</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                The statement "We are taking utmost care and priority for providing the incomparable before and after-sales service" suggests a strong commitment to delivering exceptional customer service at both stages of a customer's interaction with a product or service.
                            </p>
                            <p>
                                The statement "We are taking utmost care and priority for providing the incomparable before and after-sales service" suggests a strong commitment to delivering exceptional customer service at both stages of a customer's interaction with a product or service.
                            </p>
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="col-sm-4">
                            <h1>12 <span style="size: 16px;">yrs</span></h1>
                            <span style="margin-top: -30px;">Experience</span>
                        </div>
                        <div class="col-sm-4">
                            <h1>4.8 <span style="size: 16px;">K</span></h1>
                            <span style="margin-top: -30px;">Products</span>
                        </div>
                        <div class="col-sm-4">
                            <h1>200<span style="size: 16px;">+</span></h1>
                            <span style="margin-top: -30px;">Clients</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10" style="margin: 0 auto;">
            <div class="row">
                <div class="col-sm-4" >
                    <div class="card mt-2" style="width: 18rem; margin: 0 auto;">
                        <div class="card-title mt-3"><h3 style="text-align: center;">FOUNDER</h3></div>
                        <img class="card-img-top" src="https://www-file.huawei.com/-/media/corp2020/abouthuawei/executives/2020/yuchengdong-2021.jpg?la=fr-fr" alt="Card image cap">
                        <div class="card-body">
                            <h5>Akhil Marakar</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mt-2" style="width: 18rem;margin: 0 auto;">
                        <div class="card-title mt-3"><h3 style="text-align: center;">CEO</h3></div>
                        <img class="card-img-top" src="https://www-file.huawei.com/-/media/corp2020/abouthuawei/executives/2020/yuchengdong-2021.jpg?la=fr-fr" alt="Card image cap">
                        <div class="card-body">
                            <h5>Ram Kumar</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mt-2" style="width: 18rem;margin: 0 auto;">
                        <div class="card-title mt-3"><h3 style="text-align: center;">DESIGNER</h3></div>
                        <img class="card-img-top" src="https://www-file.huawei.com/-/media/corp2020/abouthuawei/executives/2020/yuchengdong-2021.jpg?la=fr-fr" alt="Card image cap">
                        <div class="card-body">
                            <h5>Amal Raj</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-sm-12 ">
            <div class="row" id="main_div" >
                <div class="col-sm-4 text-center" style="text-align: center; ">
                    <img src="https://www.malieakal.in/wp-content/uploads/2021/11/Layer-1.png" alt="{{i.category_name}}" class=" w-100" id="logoss" >
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 ><b>Incomparable Before and after sales Service</b></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                The statement "We are taking utmost care and priority for providing the incomparable before and after-sales service" suggests a strong commitment to delivering exceptional customer service at both stages of a customer's interaction with a product or service.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
 

    
    
    
    
    
    <div class="row mt-3">
        <div class="col-sm-12 ">
            <div class="row" id="main_div">
                <div class="col-sm-4 text-center" style="text-align: center; ">
                    <img src="https://www.malieakal.in/wp-content/uploads/2021/11/delivery.png" alt="{{i.category_name}}" class=" w-100" id="logoss_deli" >
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 ><b>Fast Delivery</b></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                "Our Professionally Managed Logistics & Supply Chain Department plays a pivotal role in seamlessly executing supply and deliveries for our clients. With a team of skilled professionals overseeing the logistics and supply chain processes, we ensure efficient and timely delivery of products or services. From sourcing to final delivery, our dedicated department handles the intricacies of the supply chain, optimizing the process to meet the highest standards of reliability and precision. Visit our service page to learn more about how our logistics and supply chain expertise can benefit your business."
                            </p>
                            
    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
    
    
    
    
    

{% endblock %}  