{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texe</title>
    <link rel="shortcut icon" href="{% static 'images\logo\glitzeventicon.png'%}" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <!-- Carousel  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">


   <style>
    body{
      font-family: 'Montserrat', sans-serif;
    }
    .base .navbar{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background-color:red;
      z-index: 1;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    @media (max-width:992px) {
      .base .navbar{
      padding-left: 2rem;
      padding-right: 2rem;
      }
    }
    .base .navbar-nav{
      margin: 0 auto;
      font-size: 20px;
    }
    .base li{
      font-size: 16px;
      color: black;
      font-weight: 500;
    }
    @media (max-width:992px) {
      .navbar{
        background-color: rgb(255, 255, 255);
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    body{
      background-color: white;
    }

    #footer{
      margin-top: 7rem;
      color: white;
    }
    #footer li{
      color: white;
    }
    #footer ul{
      list-style-type: none
    }
   </style>
</head>
<body>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,900&display=swap" rel="stylesheet">
  <div class="base">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"><img src="{% static 'images\logo\glitzlogo.png'%}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
        </ul>

          <img class="rounded-circle article-img  ml-2" src="static\images\static_image\Group 182.svg"  width="40" height="40" data-toggle="modal" data-target="#subcat">

          {% if user %}
          <a href="{% url 'cart' %}"><img class="rounded-circle article-img ml-2" id="log" type="button" src="static\images\static_image\Group 183.svg" id="img" width="40" height="40"></a>
          
          {%else%}
          <a href="{% url 'login' %}"><img class="rounded-circle article-img ml-2" id="log" type="button" src="static\images\static_image\Group 183.svg" id="img" width="40" height="40"></a>
          {%endif%}

          {% if user %}
          <div class="dropdown" >
            {% if user.profile == "static\images\static_image\icon.svg"%}
            <img class="rounded-circle article-img dropdown-toggle ml-2" id="log" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{% static 'images\static_image\icon.svg'%}" id="img" width="40" height="40">
            
              
            {%else%}
            <img class="rounded-circle article-img dropdown-toggle bg-dark ml-2" id="log" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="{{user.profile.url}}" id="img" width="40" height="40">
            {%endif%}
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="float: left;background-image: linear-gradient(-45deg,#ffffff, #ffffff);width: 50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                <a class="dropdown-item text-dark" href="{% url 'profile'%}"><i class="fa-regular fa-user mr-2"></i>Profile</a>
                <a class="dropdown-item  text-dark" href="{%url 'logout'%}"> <i class="mdi mdi-logout text-dark mr-2"></i>Log out</a>

            </div>
           
          </div>
          {%else%}
          <a href="{% url 'login'%}"><img class="rounded-circle ml-2" id="log" type="button"  src="static\images\static_image\icon.svg" id="img" width="40" height="40"></a>
          {%endif%}
     
      </div>
    </nav>
    
    {% block content %}
    

    {% endblock %}

    <div style="background-color: red;">
      <div class="container p-5" id="footer">
        <div class="row">
          <div class="col-sm-12">
  
            <div class="row">
              <div class="col-sm-6 ">
                <div class="row">
                  <div class="col-sm-12">
                   <h1>LOGO</h1>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-12">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut ullam inventore maiores similique cupiditate a illum eligendi laborum enim, dicta consectetur provident sint, debitis sapiente, odit voluptate assumenda quis minus!
                  </div>
                </div>
              </div>
  
              <div class="col-sm-6" style="text-align: left;">
  
                <div class="row">
                  <div class="col-sm-3">

                  </div>
                  
                  <div class="col-sm-3 mt-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <h6>Main Links</h6>
                      </div>
                    </div>
  
  
                    <div class="row">
                      <div class="col-sm-12">
                        <ul>
                          <li>Link1</li>
                          <li>Link1</li>
                          <li>Link1</li>
                          <li>Link1</li>
                          <li>Link1</li>
  
                        </ul>
                      </div>
                    </div>
                    
                  </div>
  
                  <div class="col-sm-3 mt-3">
                    <div class="row">
                      <div class="col-sm-12">
                        <h6>Main Links</h6>
                      </div>
                    </div>
  
  
                    <div class="row">
                      <div class="col-sm-12">
                        <ul>
                          <li>Link1</li>
                          <li>Link1</li>
                          <li>Link1</li>
                          <li>Link1</li>
                          <li>Link1</li>
  
                        </ul>
                      </div>
                    </div>
                    
                  </div>

                  <div class="col-sm-3">
                    
                  </div>
                </div>
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
      
    </div>
  </div>

  
</body>
</html>