{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
    
    #banner{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
        margin-top: 5.5rem;
    }
    #banner2{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }

    .banner_item{
      margin-top: 12rem;
    }
    .banner_btn{
      background-color: red;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 50%;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.2px;
    }
    .trend_lg{
      margin-left: 50px;
    }
    

    @media (max-width:992px) {
        #banner{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }
    #banner2{
        height: 300px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
        height: 50%;
    }
    .banner_item{
      margin-top: 9rem;
    }
    .banner_btn{
      background-color: red;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 80%;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.2px;
    }
    .trend_lg{
      margin-left: 0px;
    }
  

      
    }
   
    #create_design{
        color: #FFF;

        text-align: center;
        font-family: Notable;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
    }
    #sub_title{
        color: #FFF;

        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
    }
    #category select{
      font-weight: bolder;
      background-color: transparent;
      border: none;
      text-decoration: none;
      border-bottom: 2px solid transparent; /* Initial border style */
      transition: border-bottom 0.3s ease; /* Smooth transition for the border */
      outline: none; /* Remove default focus outline */
    }
    #category select:hover{
      color: red;
      border-bottom: 2px solid red; 
      outline: none;
    }
    #category select:active{
      color: red; 
      background-color: red;
      border-bottom: 2px solid red;
      outline: none;
    }
    #category select:after{
      color: red; 
      outline: none;
      border-bottom: 2px solid red;
    }
    #category select:focus {
      color: red; 
      outline: none;
      border-bottom: 2px solid red; /* Change border color on focus/clicked */
    }

    #products{
      height: 30rem;
    }

    @media (max-width:992px) {
      #products{
      height: 36rem;
      }
      
      
    }


</style>
<div>
    
   <div id="banner">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
  
        </div>
  
        <div class="col-sm-8 banner_item" style="text-align: center;">
          <div class="row ">
            <div class="col-sm-12">
              <h1  style="color: white;font-weight: 400;line-height: normal;letter-spacing: 3px;">
                CUSTOMIZE<br>YOUR STYLE
              </h1>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <p style="color: white;font-weight: 400;line-height: normal;letter-spacing: 1.2px;">
                Rorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 ">
              <div style="" class="pl-4 pr-4 pt-2 pb-2 banner_btn">Create a Design</div>
            </div>
          </div>
        </div>
      </div>
    </div>

   </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">
                <div id="product" data-aos="fade-up">

                    <div class="row" style="margin-top: 1rem;">
                      <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: left; ">
                        <h2 style="font-weight: bold;">Trending Products <span><img src="static\images\home\trendicon.png" class="trend_lg" alt=""></span></h2>
                      </div>
                    </div>   
                    <section id="pro" >
                      <div class=" " data-aos="fade-up">
                        <div class="row g-4 py-1  p-3">
                          <div class="owl-carousel owl-theme owl_views">
                       
                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                              <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <p class="card-title" style="text-align: left;">t-shirt</p>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" id="image">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                      </svg>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </a>
                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                                <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <p class="card-title" style="text-align: left;">t-shirt</p>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" id="image">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                      </svg>
                                    </div>
                                  </div>
                                </div>
                                </div>
                            </div>
                            </a>

                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                                <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">

                                
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-10">
                                      <p class="card-title" style="text-align: left;">t-shirt</p>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;" id="image">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                      </svg>
                                    </div>
                                  </div>
                                </div>
                                </div>
                            </div>
                            </a>



                        
                            <!--  -->  
                          </div>
                          
                        </div>
                      </div>
                    </section>
                    
            </div>
        </div>
    </div>
    </div>

    <!-- middle Banner -->
   <div>
    <img src="static\images\static_image\middle.png" class="w-100" alt="">

   </div>

   
   <div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div id="category" data-aos="fade-up">

                <div class="row" style="margin-top: 1rem;">
                  <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; ">
                    <h2 style="font-weight: bold;">Product Categories</h2>
                  </div>
                </div>   
                <section id="pro" >
                  <div class=" " data-aos="fade-up">
                    <div class="row g-4 py-1 p-5">
                      <div class="owl-carousel owl-theme owl_nav">
                   
                        <div class="item mb-4">
                          <select class="form-control" onclick="showSelectedValue(this.value)">
                            <option disabled selected>T-shirt</option>
                            <option value="tshirt">T-shirt</option>
                            <option value="hoodies">Hoodies</option>
                      
                          </select>
                        </div>

                        <div class="item mb-4">
                          <select class="form-control" onclick="showSelectedValue(this.value)">
                            <option disabled selected>Hoodies</option>
                            <option value="hoodies">Hoodies</option>
                            
                          </select>
                        </div>

                         
                        <div class="item mb-4">
                          <select class="form-control" onclick="showSelectedValue(this.value)">
                            <option disabled selected>Baby Clothes</option>
                            <option value="baby_clothes">Baby Clothes</option>
                          </select>
                        </div>
                         
                        <div class="item mb-4">
                          <select class="form-control" onclick="showSelectedValue(this.value)">
                            <option disabled selected>Jersey</option>
                            <option value="jersey">Jersey</option>
                          </select>
                        </div>

                        <div class="item mb-4">
                          <select class="form-control" onclick="showSelectedValue(this.value)">
                            <option disabled selected>Uniforms</option>
                            <option value="uniforms" >Uniforms</option>
                          </select>
                        </div>

                         
                        <div class="item mb-4">
                          <select class="form-control" onclick="showSelectedValue(this.value)">
                            <option disabled selected>Sports Wears</option>
                            <option value="sports_wears">Sports Wears</option>
                          </select>
                        </div>

                      </div>
                    
                      
                    </div>
                  </div>
                </section>
                
        </div>
    </div>
  </div>


  

  <div id="t-shirt" data-aos="fade-up">
    <div class=" " data-aos="fade-up">
      <div class="row pl-3 pr-3">
        <div class="owl-carousel owl-theme owl_views_arrival">

         
          <div class="item">
            <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
              <img src="static\images\static_image\trend1.png" width="75" alt="" class="card-img-top">
              <div class="card-body">
        
                <div class="row">
                  <div class="col-sm-10">
                    <p class="card-title" style="text-align: left;">t-shirt</p>
                  </div>
                  <div class="col-sm-2" style="text-align: right;" id="image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  -->  
        </div>
        
      </div>
    </div>
  </div>
<!-- hoodies -->
  <div id="hoodies" data-aos="fade-up" style="display: none;">
    <div class=" " data-aos="fade-up">
      <div class="row pl-3 pr-3">
        <div class="owl-carousel owl-theme owl_views_arrival">

         
          <div class="item">
            <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
              <img src="static\images\static_image\trend1.png" width="75" alt="" class="card-img-top">
              <div class="card-body">
        
                <div class="row">
                  <div class="col-sm-10">
                    <p class="card-title" style="text-align: left;">hoodies</p>
                  </div>
                  <div class="col-sm-2" style="text-align: right;" id="image">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  -->  
        </div>
        
      </div>
    </div>
  </div>


<!-- baby_clothes -->

<div id="baby_clothes" data-aos="fade-up" style="display: none;">
  <div class=" " data-aos="fade-up">
    <div class="row pl-3 pr-3">
      <div class="owl-carousel owl-theme owl_views_arrival">

       
        <div class="item">
          <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
            <img src="static\images\static_image\trend1.png" width="75" alt="" class="card-img-top">
            <div class="card-body">
      
              <div class="row">
                <div class="col-sm-10">
                  <p class="card-title" style="text-align: left;">baby_clothes</p>
                </div>
                <div class="col-sm-2" style="text-align: right;" id="image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->  
      </div>
      
    </div>
  </div>
</div>


<!-- jersey -->

<div id="jersey" data-aos="fade-up" style="display: none;">
  <div class=" " data-aos="fade-up">
    <div class="row pl-3 pr-3">
      <div class="owl-carousel owl-theme owl_views_arrival">

       
        <div class="item">
          <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
            <img src="static\images\static_image\trend1.png" width="75" alt="" class="card-img-top">
            <div class="card-body">
      
              <div class="row">
                <div class="col-sm-10">
                  <p class="card-title" style="text-align: left;">jersey</p>
                </div>
                <div class="col-sm-2" style="text-align: right;" id="image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->  
      </div>
      
    </div>
  </div>
</div>



<!-- uniforms -->

<div id="uniforms" data-aos="fade-up" style="display: none;">
  <div class=" " data-aos="fade-up">
    <div class="row pl-3 pr-3">
      <div class="owl-carousel owl-theme owl_views_arrival">

       
        <div class="item">
          <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
            <img src="static\images\static_image\trend1.png" width="75" alt="" class="card-img-top">
            <div class="card-body">
      
              <div class="row">
                <div class="col-sm-10">
                  <p class="card-title" style="text-align: left;">uniforms</p>
                </div>
                <div class="col-sm-2" style="text-align: right;" id="image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->  
      </div>
      
    </div>
  </div>
</div>



<!-- sports_wears -->

<div id="sports_wears" data-aos="fade-up" style="display: none;">
  <div class=" " data-aos="fade-up">
    <div class="row pl-3 pr-3">
      <div class="owl-carousel owl-theme owl_views_arrival">

       
        <div class="item">
          <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
            <img src="static\images\static_image\trend1.png" width="75" alt="" class="card-img-top">
            <div class="card-body">
      
              <div class="row">
                <div class="col-sm-10">
                  <p class="card-title" style="text-align: left;">sports_wears</p>
                </div>
                <div class="col-sm-2" style="text-align: right;" id="image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  -->  
      </div>
      
    </div>
  </div>


</div>


   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="static\images\static_image\image 1.png" class="w-100 mt-3" alt="">
      </div>
      <div class="col-md-6">
        <img src="static\images\static_image\image 2.png" class="w-100 mt-3" alt="">
      </div>
    </div>
   </div>

</div>


<!-- search modal -->

<form action="" method="POST" enctype="multipart/form-data">

    <div class="rowmt-5 modal fade" id="subcat">
      <div class="modal-dialog bd-example-modal-xl modal-dialog-centered" role="document" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-content modal-xl" style="background-color: #191c24;">
          <div class="card ">
            <div class="card-body">
              <button type="button" class="close" data-dismiss="modal" aria-label=""
                style="color: red;border:none;float: right;font-size: 20px;">
                <span aria-hidden="true">&times;</span>
              </button>
              
              
                {% csrf_token %}
                <div class="row mb-4">
                  <div class="col-sm-12"style="border-radius: 10px;">
                   
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-sm-12" style="border-radius: 10px; ">
                    <input type="text" name="quesry" id="" class="form-control" placeholder="Search Here...">
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col-sm-12" style="border-radius: 10px;text-align: center;">
                   <input type="submit" class="btn" style="background-color: red; color: white;" value="Search">
                  </div>
                </div>
                
                
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

<!-- script for show cat -->
<script>
  function showSelectedValue(val) {

  if (val=="tshirt"){
    document.getElementById("t-shirt").style.display="block";
    document.getElementById("hoodies").style.display="none"; 
    document.getElementById("baby_clothes").style.display="none";
    document.getElementById("jersey").style.display="none";
    document.getElementById("uniforms").style.display="none";
    document.getElementById("sports_wears").style.display="none";

  } else if(val=="hoodies"){
    document.getElementById("t-shirt").style.display="none";
    document.getElementById("hoodies").style.display="block";
    document.getElementById("baby_clothes").style.display="none";
    document.getElementById("jersey").style.display="none";
    document.getElementById("uniforms").style.display="none";
    document.getElementById("sports_wears").style.display="none";
  }else if(val=="baby_clothes"){
    document.getElementById("t-shirt").style.display="none";
    document.getElementById("hoodies").style.display="none";
    document.getElementById("baby_clothes").style.display="block";
    document.getElementById("jersey").style.display="none";
    document.getElementById("uniforms").style.display="none";
    document.getElementById("sports_wears").style.display="none";
  }else if(val=="jersey"){
    document.getElementById("t-shirt").style.display="none";
    document.getElementById("hoodies").style.display="none";
    document.getElementById("baby_clothes").style.display="none";
    document.getElementById("jersey").style.display="block";
    document.getElementById("uniforms").style.display="none";
    document.getElementById("sports_wears").style.display="none";
  }else if(val=="uniforms"){
    document.getElementById("t-shirt").style.display="none";
    document.getElementById("hoodies").style.display="none";
    document.getElementById("baby_clothes").style.display="none";
    document.getElementById("jersey").style.display="none";
    document.getElementById("uniforms").style.display="block";
    document.getElementById("sports_wears").style.display="none";
  }
  else if(val=="sports_wears"){
    document.getElementById("t-shirt").style.display="none";
    document.getElementById("hoodies").style.display="none";
    document.getElementById("baby_clothes").style.display="none";
    document.getElementById("jersey").style.display="none";
    document.getElementById("uniforms").style.display="none";
    document.getElementById("sports_wears").style.display="block";
  }
}
</script>

<script>
  $('.owl_views_arrival').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      dots: true,
      autoplay: true,
      mouseDrag: true,
      touchDrag: true,
      navText: ["<i class='fa fa-long-arrow-left text-danger mr-3' style='font-size: 25px; margin-top:-100px'></i>", "<i class='fa fa-long-arrow-right  text-danger' style='font-size: 25px;margin-top:-100px'></i>"],
    
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
    })
</script>


<script>
  $(document).ready(function(){
    $(".owl_nav").owlCarousel({
      loop: false,
      margin: 10,
      autoplay: false,
      nav: false,
      dots: false,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:5
        },
        1000:{
          items:5
        }
      },
      navText: ['<button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>', '<button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>']
    });
  });
</script>


<script>
$('.owl_views').owlCarousel({
    loop:true,
    margin:10,
    autoplay: true,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})

</script>
{% endblock %}