{% extends 'base.html' %}
{% load static %}

{% block content %}



  <!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<style>
    /* Customize navigation buttons */

    .custom-nav3{
      
      position: absolute;
      margin-top: -45px;
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
      color: #333; /* Customize the color */
    }
    .custom-nav3.prev3 {
      left: 90%;
    }

    .custom-nav3.next3 {
      right:2%
    }

    .custom-nav2 {
      margin-top: 510px;
      position: absolute;
     
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
      color: #333; /* Customize the color */
    }
    .custom-nav2.prev2 {
      margin-left: 38%;
    }

    .custom-nav2.next2 {
      margin-left: 41%;
    }


    @media (max-width:992px) {
      .custom-nav2 {
      
      position: absolute;
      margin-top: 620px;
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
      color: #333; /* Customize the color */
    }
    .custom-nav2.prev2 {
      margin-left: 38%;
    }

    .custom-nav2.next2 {
      margin-left: 48%;
    }
    .custom-nav3{
      
      display: none;
    }
    }

    .custom-nav {
      position: absolute;
      margin-top: -50px;
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
    }

    .custom-nav.prev {
      left: -30px;
    }

    .custom-nav.next {
      right: -30px;
    }
    @media (max-width:992px) {
      .custom-nav.prev {
      left: 0px;
    }

    .custom-nav.next {
      right: 0px;
    }
    }



    #banner{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 5.5rem;
    }
    #banner2{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }

    #banner_fetch{
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;

    }

    .banner_item{
      margin-top: 12rem;
    }
    .banner_btn{
      background-color: red;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 50%;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.2px;
    }
    .trend_lg{
      margin-left: 10px;
    }
    

    @media (max-width:992px) {
        #banner{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }

    #banner_fetch{
      height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
  
    }
    #banner2{
        height: 300px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
        height: 50%;
    }
    .banner_item{
      margin-top: 9rem;
    }
    .banner_btn{
      background-color: red;
      color: white;
      text-align: center;
      margin: 0 auto;
      width: 80%;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.2px;
    }
    .trend_lg{
      margin-left: 0px;
      display: none;
    }
  

      
    }
   
    #create_design{
        color: #FFF;

        text-align: center;
        font-family: Notable;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
    }
    #sub_title{
        color: #FFF;

        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
    }
    #category select{
      font-weight: bolder;
      background-color: transparent;
      border: none;
      text-decoration: none;
      border-bottom: 2px solid transparent; /* Initial border style */
      transition: border-bottom 0.3s ease; /* Smooth transition for the border */
      outline: none; /* Remove default focus outline */
    }
    #category select:hover{
      color: red;
      border-bottom: 2px solid red; 
      outline: none;
    }
    #category select:active{
      color: red; 
      background-color: red;
      border-bottom: 2px solid red;
      outline: none;
    }
    #category select:after{
      color: red; 
      outline: none;
      border-bottom: 2px solid red;
    }
    #category select:focus {
      color: red; 
      outline: none;
  
      border-bottom: 2px solid red; /* Change border color on focus/clicked */
    }

    #products{
      height: 30rem;
    }

    @media (max-width:992px) {
      #products{
      height: 36rem;
      }
      
      
    }


</style>
<div >

  <div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-sm-12">
            <div id="category" data-aos="fade-up">

                  
                <section id="pro" >
                  <div class=" pt-3 pl-5 pr-5 mr-2 ml-2" data-aos="fade-up">
                    <div class="row g-4 py-1">
                      <div class="owl-carousel owl-theme owl_nav">
                        {%for i in cat%}
                        <div class="item mb-4">
                          <select class="form-control" onchange="showSelectedValue(this.value)" style=" text-align: center; ">
                            <option selected disabled style="text-align: center; ">{{i.category_name}}</option>
                            {%for k in sub%}
                            {%if i.id == k.category_id%}
                            <option value="{{k.id}}" style="text-align: center; ">{{k.subcategory}}</option>
                            {%else%}
                            {%endif%}
                            {% endfor %}
                    
                      
                          </select>
                        
                        </div>
                        {%endfor%}

                        


                      </div>
                    
                      
                    </div>
                  </div>
                </section>
                <div class="custom-nav prev ml-2 pl-2 pr-2" style="border: 2px solid red;box-sizing: 2px; color: red; font-weight: bolder;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left " viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg></div>
                <div class="custom-nav next mr-2 pl-2 pr-2" style="border: 2px solid red;background-color: red; color: white;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg></div>
                
        </div>
    </div>
  </div>

  </div>

 

  <div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: -12px;">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        {% if bann.top_banner1%}
        <div class="carousel-item active">
          <a href="{{bann.top_link1}}"><img class="d-block w-100" src="{{bann.top_banner1.url}}" alt="First slide"></a>
        </div>
        {%endif%}
        {% if bann.top_banner2%}
        <div class="carousel-item">
          <a href="{{bann.top_link2}}"><img class="d-block w-100" src="{{bann.top_banner2.url}}" alt="Second slide"></a>
        </div>
        {%endif%}
        {% if bann.top_banner3%}
        <div class="carousel-item">
          <a href="{{bann.top_link3}}"><img class="d-block w-100" src="{{bann.top_banner3.url}}" alt="Third slide"></a>
        </div>
        {%endif%}
        
        
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">
                <div id="product" data-aos="fade-up">

                    <div class="row" style="margin-top: 1rem;">
                      <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: left; ">
                        <h2 style="font-weight: bold;">Trending Products<span><img src="static\images\home\trendicon.png" class="trend_lg" alt=""></span></h2>
                      </div>
                    </div>   
                    <section id="pro" >
                      <div class=" " data-aos="fade-up">
                        <div class="row g-4 py-1  p-3">
                          <div class="owl-carousel owl-theme owl_views">
                            
                           {%for i in trend%}
                        
                            <div class="item mb-4">
                              <div class="card border-0 " >
                                <a href="{% url 'product_view' i.id%}" style="text-decoration: none; color: black;">


                                <img src="{{i.image.url}}" alt="{{i.image}}" class="card-img-top"></a>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      {{i.name}}
                                      {% if user %}
                                        {% if wish%}
                                          {%for l in wish%}
                                            {% if i.id == l.item_id%}

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="position: absolute; right:20px; color:red">
                                              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" onclick="whish_remove('{{l.id}}')"/>
                                            </svg>
                                            
                                            {%else%}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16" onclick="whish('{{i.id}}')">
                                              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                            
                                            </svg>
                                            {%endif%}
                                          {%endfor%}
                                        {%else%}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16" onclick="whish('{{i.id}}')">
                                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                        
                                        </svg>
                                        {%endif%}
                                      {%else%}
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                      
                                      </svg>
                                      {%endif%}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            {%endfor%}
                            
                       
                            <!--  -->  
                          </div>

                          <div class="custom-nav3 prev3 ml-2 pl-2 pr-2" style="border: 2px solid red;box-sizing: 2px; color: red; font-weight: bolder;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left " viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg></div>
                          <div class="custom-nav3 next3 ml-2 pl-2 pr-2" style="border: 2px solid red;background-color: red; color: white;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                          </svg></div>
                          
                        </div>
                      </div>
                    </section>
                    
            </div>
        </div>
    </div>
    </div>

    <!-- middle Banner -->
   <div class="">
    {% if bann.middle_banner%}
    <a href="{{bann.middle_link}}">
      <img src="{{bann.middle_banner.url}}" class="w-100" alt="">
    </a>
    {%else%}
      <img src="static\images\static_image\middle.png" class="w-100" alt="">
    {%endif%}

   </div>

   
   


   <div class="container">
    <div class="row" style="margin-top: 3rem; margin-bottom: 2rem;">
      <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; ">
        <h2 style="font-weight: bold;">Product Categories</h2>
      </div>
    </div> 
  <div id="t-shirt" data-aos="fade-up">
    <div class=" " data-aos="fade-up">
      <div class="row pl-3 pr-3">
        
        <div class="owl-carousel owl_views_arrival">
        {% for j in items%}
        
          <div class="item"><div class="card border-0 "  id="products" >
            <a href="{% url 'product_view' j.id%}" style="text-decoration: none; color: black;">
            <img src="{{j.image.url}}" width="75" alt="" class="card-img-top">
          </a>
            <div class="card-body">
      
              <div class="row">
                <div class="col-sm-12">
                 {{j.name}}

                
                 {% if user %}
                 {% if wish%}
                   {%for l in wish%}
                     {% if j.id == l.item_id%}

                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="position: absolute; right:20px; color:red">
                       <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" onclick="whish_remove('{{l.id}}')"/>
                     </svg>
                     
                     {%else%}
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16" onclick="whish('{{j.id}}')">
                       <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                     
                     </svg>
                     {%endif%}
                   {%endfor%}
                 {%else%}
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16" onclick="whish('{{j.id}}')">
                   <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                 
                 </svg>
                 {%endif%}
               {%else%}
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16">
                 <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
               
               </svg>
               {%endif%}
                </div>
              </div>
            </div>
          </div></div>
     
        {%endfor%}

        <a href="{%url 'all_item'%}" style="text-decoration: none;">
          <div class="item"><div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48; " id="products">
            <div class="card-body" style="color: red;">
      
              <div class="row">
                <div class="col-sm-12" style="text-align: center; margin-top: 60%;">
                  <h5 style="color: red;">Click More&#8250;&#8250;&#8250;</h5>
                </div>
              </div>
            </div>
          </div></div>
          </a>
        
          <!-- Add more items as needed -->
        </div>

        <div class="custom-nav2 prev2  mr-2 pl-2 pr-2" style="border: 2px solid red;box-sizing: 2px; color: red; font-weight: bolder;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left " viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg></div>
        <div class="custom-nav2 next2  mr-2 pl-2 pr-2" style="border: 2px solid red;background-color: red; color: white;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></div>
        
        
      </div>
    </div>
  </div>

  

   <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6 " style="text-align: left;">
        {% if bann.bottom_banner1%}
        <a href="{{bann.bottom_link1}}">
          <img src="{{bann.bottom_banner1.url}}" class="w-100 mt-5" alt="">
        </a>
        {%else%}
        <img src="static\images\static_image\image_1.png" class="w-100 mt-5" alt="">
        {%endif%}
        
      </div>
      <div class="col-sm-6" >
        {% if bann.bottom_banner1%}
        <a href="{{bann.bottom_link1}}">
          <img src="{{bann.bottom_banner1.url}}" class="w-100 mt-5" alt="">
        </a>
        {%else%}
        <img src="static\images\static_image\image_2.png" style="left: 0;" class="w-100 mt-5" alt="">

        {%endif%}
      </div>
    </div>
   </div>

   <div class="container mt-5">
    <iframe style="width: 100%; height: 600px;" src="https://www.youtube.com/embed/PdJq-dAQr-Y?si=Sq6MMPEcOvibWMwO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   </div>

</div>




  

<script>
function whish_remove(id){
  $.ajax({
            type: "GET",
            url: "{% url 'remove_wishlist' %}",
            data: {
                ele : id,
              
                
                
            },
            success:function(response){
                alert("Order Status Update Successfully")
            }});
}
</script>
<script>
function whish(id){
  $.ajax({
            type: "GET",
            url: "{% url 'add_wishlist' %}",
            data: {
                ele : id,
              
                
                
            },
            success:function(response){
                alert("Order Status Update Successfully")
            }});
}
</script>
<!-- script for show cat -->
<script>
  function showSelectedValue(val) {
    if (val) {
        // Redirect to the selected page
        window.location.href = '/show_category/' + val 
      }
  
}
</script>
<script>
  $(document).ready(function(){
    $('.owl_views_arrival').owlCarousel({
      loop:false,
      margin:10,
      autoplay: false,
      nav:false,
      navigation: true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:4
          }
      }
    });

    // Custom navigation
    $('.custom-nav2.next2').click(function() {
      $('.owl_views_arrival').trigger('next.owl.carousel');
    });

    $('.custom-nav2.prev2').click(function() {
      $('.owl_views_arrival').trigger('prev.owl.carousel');
    });
  });
</script>


<script>
  $(document).ready(function(){
    $('.owl_nav').owlCarousel({
      loop:false,
      margin:10,
      padding:50,
      autoplay: false,
      nav:false,
      navigation: false,
      dots:false,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:5
        },
        1000:{
          items:5
        }
      },
    });

    // Custom navigation
    $('.custom-nav.next').click(function() {
      $('.owl_nav').trigger('next.owl.carousel');
    });

    $('.custom-nav.prev').click(function() {
      $('.owl_nav').trigger('prev.owl.carousel');
    });
  });
</script>


<script>
  $(document).ready(function(){
    $('.owl_views').owlCarousel({
      loop:false,
      margin:10,
      autoplay: false,
      nav:false,
      navigation: true,
      dots:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:4
          }
      }
    });

    // Custom navigation
    $('.custom-nav3.next3').click(function() {
      $('.owl_views').trigger('next.owl.carousel');
    });

    $('.custom-nav3.prev3').click(function() {
      $('.owl_views').trigger('prev.owl.carousel');
    });
  });
</script>




{% endblock %}