{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<style>
    
    #banner{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }
    #banner2{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }

    @media (max-width:992px) {
        #banner{
        height: 600px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
    }
    #banner2{
        height: 300px;
        background: url('static/images/static_image/banner.jpeg'), red 0px -226.074px / 100% 186.684% no-repeat; 
        height: 50%;
    }
      
    }
    #banner_item{
        margin-top: 10rem;
        padding-right: 10rem;
    }
    #create_design{
        color: #FFF;

        text-align: center;
        font-family: Notable;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3px;
    }
    #sub_title{
        color: #FFF;

        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
    }
</style>
<div>
    
   <div id="banner">

   </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="product" data-aos="fade-up">

                    <div class="row" style="margin-top: 1rem;">
                      <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; ">
                        <h2 style="font-weight: bold;">Our Products</h2>
                      </div>
                    </div>   
                    <section id="pro" >
                      <div class=" " data-aos="fade-up">
                        <div class="row g-4 py-1">
                          <div class="owl-carousel owl-theme owl_views">
                       
                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                              <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                  <h6 alt="{{i.category_name}}" style="font-weight: bolder;font-size: 18px;">fgdfgd</h6>
                                </div>
                              </div>
                            </div>
                            </a>
                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                                <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                    <h6 alt="{{i.category_name}}" style="font-weight: bolder;font-size: 18px;">fgdfgd</h6>
                                </div>
                                </div>
                            </div>
                            </a>

                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                                <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                    <h6 alt="{{i.category_name}}" style="font-weight: bolder;font-size: 18px;">fgdfgd</h6>
                                </div>
                                </div>
                            </div>
                            </a>



                        
                            <!--  -->  
                          </div>
                          
                        </div>
                      </div>
                    </section>
                    
            </div>
        </div>
    </div>
    </div>
   <div>
    <img src="static/images/static_image/banner.jpeg" class="w-100" alt="">

   </div>

    

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="product" data-aos="fade-up">

                    <div class="row" style="margin-top: 1rem;">
                      <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; ">
                        <h2 style="font-weight: bold;">Our Productdsffs</h2>
                      </div>
                    </div>   
                    <section id="pro" >
                      <div class=" " data-aos="fade-up">
                        <div class="row g-4 py-1">
                          <div class="owl-carousel owl-theme owl_views">
                       
                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                              <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                  <h6 alt="{{i.category_name}}" style="font-weight: bolder;font-size: 18px;">fgdfgd</h6>
                                </div>
                              </div>
                            </div>
                            </a>
                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                                <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                    <h6 alt="{{i.category_name}}" style="font-weight: bolder;font-size: 18px;">fgdfgd</h6>
                                </div>
                                </div>
                            </div>
                            </a>

                            <a href="" class="stretched-link">
                            <div class="item mb-4">
                                <div class="card border-0 " style="box-shadow: 5px 10px 20px 0px #bebebe48;">
                                <img src="static\images\static_image\trend1.png" alt="{{i.category_name}}" class="card-img-top">
                                <div class="card-body">
                                    <h6 alt="{{i.category_name}}" style="font-weight: bolder;font-size: 18px;">fgdfgd</h6>
                                </div>
                                </div>
                            </div>
                            </a>



                        
                            <!--  -->  
                          </div>
                          
                        </div>
                      </div>
                    </section>
                    
            </div>
        </div>
    </div>

</div>


<script>
$('.owl_views').owlCarousel({
    loop:true,
    margin:10,
    autoplay: true,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})

</script>
{% endblock %}