{% extends 'base_login.html' %}
{% load static %}
{% block content %}

<style>
body{


position:relative;
background-color: #f2f2f2;
font-family: 'Poppins', sans-serif;;

}

    * {
        font-family:Georgia, 'Times New Roman', Times, serif;
        box-sizing: border-box;
       

        
    }
    .card p {
        font-size: 16px;
        font-weight: bold;
        color: #6d6d6d;
    }
    .card a {
        font-size: 16px;
        font-weight: bold;
        color: #6d6d6d;
        text-decoration: none;
    }
    .card a:hover {
        color:#142023;
    }

    .card p a {
        color: #000000;
        text-decoration: none;
        transition: 0.2s;
    }

    .card p a:hover {
        color:  #142023;
    }
    

    .card{
        background-color: #ffffff85;
        
       border-radius: 20px;
    }

    .card:nth-child(1) {
        border-bottom-right-radius: 20px;
    }

    .card:nth-child(2) {
        border-bottom-left-radius: 20px;
    }

    
    .ap-otp-input{
    border: 3px solid red;
    border-radius: 18px;
    width: 15%;
    height: 80px;
    margin: 4px;
    text-align: center;
    font-size: 35px;
}


.ap-otp-input:focus{
    outline: none !important;
    border: 3px solid green;
    transition: 0.12s ease-in;
}
</style>

<section class="section-content padding-y" style="min-height:84vh; padding-top:100px;">


    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <div class="row mt-4 ">
                <div class="col-sm-12" style="text-align: center;">
                  <img src="{% static 'login_texe.png'%}" width="200" alt="">
                </div>
              </div> 
              <div class="row">
                <div class="col-sm-12 mt-4" style="text-align: center;">
                  <h4 class="" style="color: red;">Enter OTP</h4>
                </div>
              </div>
            {% if messages %}
            {% for message in messages %}
                <div id = "message" class="container">
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden = "true">&times;</span></button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <form action ="{% url 'otp' ids%}" method = "POST">
        {% csrf_token %}
        <div class="row mt-3">
            <div class="col-sm-12 pl-5 pr-5">
                <h1>{{ids}}</h1>
                <div class="ap-otp-inputs" data-username="otibij" data-channel="email" data-nonce="0-8bf87e338f" data-length="6" data-form="registration">
  
  
                    <input class="ap-otp-input" type="tel" maxlength="1" data-index="0" name="otp0"><input class="ap-otp-input" type="tel" maxlength="1" data-index="1" name="otp1"><input class="ap-otp-input" type="tel" maxlength="1" data-index="2"  name="otp2"><input class="ap-otp-input" type="tel" maxlength="1" data-index="3"  name="otp3"><input class="ap-otp-input" type="tel" maxlength="1" data-index="4"  name="otp4"><input class="ap-otp-input" type="tel" maxlength="1" data-index="5"  name="otp5"></div>
                
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12" style="text-align: center;">
                <button type="submit" class="btn btn-danger w-50" style="background-color: red ; color: white;" > Submit  </button>

            </div>
        </div>
    </form>


    <br><br>

    
    
</section>

{% endblock %}