{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

#footer{
      margin-top: 1rem;
      color: white;
    }
.card{
    height: 36rem;

}

</style>
<div class="container-fluid" style="margin-top: 8rem;">

    {% if itm%}
    <div class="row">
   
        {% for i in itm %}
        <div class="col-md-3 col-sm-12 col-lg-3 mt-2 outers"  style="margin: 2rem auto;">

        <a href="{% url 'product_view' i.id%}"  class="stretched-link" style="text-decoration: none; color: black;">
            <div class="card" style="height: auto;text-align: left; ">
                <img src="{{i.image.url}}" class="card-img-top w-100">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {{i.name}}
                        
                            {% if user %}
                            {% if wish%}
                                {%for l in wish%}
                                {% if i.id == l.item_id%}

                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" style="position: absolute; right:20px; color:red">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" onclick="whish_remove('{{l.id}}')"/>
                                </svg>
                                
                                {%else%}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16" onclick="whish('{{i.id}}')">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                
                                </svg>
                                {%endif%}
                                {%endfor%}
                            {%else%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16" onclick="whish('{{i.id}}')">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                            
                            </svg>
                            {%endif%}
                            {%else%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="position: absolute; right:0; top:5px" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                            {%endif%}
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </a>
        </div>
        {%endfor%}
        

        
    
    </div>

    

   
</div>
{%else%}

    <div class="row">
        <div class="col-sm-8" style="margin: 0 auto;">
            <div class="card" style="height: 100px;text-align: center; padding-top: 4%;">
                <h4><strong>No items found</strong></h4>
            </div>
            
        </div>
    </div>
    {%endif%}
</div>

  <script>
    const input = document.getElementById('search')
    input.addEventListener('keyup', (e) => {
    var inputs = e.target.value.toLowerCase(); //do lowercase
    document.querySelectorAll('.outers').forEach(function(el) {
        el.style.display = 'none';
    });

    document.querySelectorAll('.outers .card-title').forEach(function(el) {
        //compare 
        if (el.textContent.toLowerCase().indexOf(inputs) > -1) {
        el.closest('.outers').style.display = "block"; //if match show that div
        }
    })
    })
</script> 


  <script>
      
       function fieldset1_function(){
          document.getElementById('field2').style.display="none";
          document.getElementById('field1').style.display="block";

       }
       function fieldset2_function(){
          document.getElementById('field1').style.display="none";
          document.getElementById('field2').style.display="block";

       }
 
   </script> 


{% endblock %}