{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

</style>
<form action="{% url 'checkout'%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
<div class="container">
    <div class="row" style="margin-top: 1rem;">
        <div class="col-sm-8">
                {%if crt%}
                {% for crt in crt%}
                <div class="row justify-content-center mb-3">
                  <div class="col-md-12 col-xl-12   ">
                    <div class="card shadow-0 border rounded-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12 col-lg-2 col-xl-2 mb-4 mb-lg-0">
                            <div class="bg-image hover-zoom ripple rounded ripple-surface" >
                                
                                {% if crt.model %}
                                <img src="{{crt.model.image.url}}" class="w-100" id="main_img"/>
                                {%else%}
                                <img src="{{crt.item.image.url}}" class="w-100" id="main_img"/>
                                {%endif%}
                              <a href="#!">
                                <div class="hover-overlay">
                                  <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                </div>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-10 col-lg-10 col-xl-10 mt-1 ">
                            <a href="{% url 'delete_cart' crt.id%}">
                            <div class="btn btn-danger mt-2 pt-2 pb-2" onclick="return confirm('Are you sure, you want to delete it?')" style="position: absolute; right: 15px; top: -15px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                </svg></div></a>
                            <h5>{{crt.item.name}}</h5>
                            <div class="d-flex flex-row">
                            <div class="mt-1">
                                <span>₹<input type="text" value="{{crt.item.offer_price}}" style="border: none; " class="w-25" readonly id="amount{{forloop.counter}}"></span><span class="ml-4 text-muted"><strike>₹{{crt.item.price}}</strike></span><br>
                            </div>
                            
            
                            
                            </div>
                            <div class="">
                                <div class="row mt-2">
                                    <div class="col-sm-3 mt-1">
                                        <span>Size : {{crt.size}}</span>
                                    </div> 
                                    <div class="col-sm-3 mt-1">
                                        <span><span class="">Color : <div class="btn btn-outline-dark" style='width: 30px; height: 30px; background-color: {{crt.color}}'></div></span></span>
                                    </div>
                                    <div class="col-sm-6 mt-1">
                                        <span class="">Meterial : {{crt.meterial}}</span>
                                    </div>
                                </div>

                                <div class="row mt-1">
                                    <div class="col-sm-12">
                                        <div onclick="decrement('{{forloop.counter}}')" class="btn-outline-danger btn" style="border-radius: 50%; width: 40px;">-</div>
                                        <input type="number" id="numberInput{{forloop.counter}}" value="0" readonly class="qty" name='qty[]' style="width: 10%;border: none;text-align: right;">
                                        
                                       
                                        <div onclick="increment('{{forloop.counter}}')" class="btn-danger btn" style="border-radius: 50%; width: 40px;">+</div>
                                        
                                    </div>
                                </div>

                                <input type="number" id="itm_amount{{forloop.counter}}" value="0" readonly class="itm_amount tot_item" style="width: 10%;border: none;text-align: right;" hidden>
                                <input type="text"  value="{{crt.item.id}}" readonly name='item_id[]' style="width: 10%;border: none;text-align: right;" hidden>

                                <input type="text"  value="{{crt.id}}" readonly name='cart_id[]' style="width: 10%;border: none;text-align: right;" hidden>
                                
                                
                            </div>
                            
                          </div>
                          
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {%endfor%}
                {%else%}

                <div class="row">
                    <div class="col-sm-8 ">
                        <div class="card p-5" style="text-align: center;">
                            <h3>Empty Cart</h3>
                        </div>
                        
                    </div>
                </div>
                {%endif%}
            
              

                
        </div>



        <div class="col-sm-4 mt-3  ">
            <div class="card p-4" style="background-color: #FFE6E6;">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Price : </p>
                    </div>
                    <div class="col-sm-6">
                        <p>₹<input type="text" value="0" style="border: none; background-color: transparent; " class="w-75" readonly id="price" name="sum"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p>Delivery Charge: </p>
                    </div>
                    <div class="col-sm-6">
                        <p>₹<input type="number" value="0" style="border: none; background-color: transparent; " class="w-75" id="delivery" onchange=del_calc()></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p>Total : </p>
                    </div>
                    <div class="col-sm-6">
                        <p>₹<input type="text" value="0" style="border: none; background-color: transparent;" class="w-75" readonly id="sum"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label for="Delivery Address">Delivery address :</label>
                        {%if user%}
                        {% if user.addres%}
                        <textarea name="address" class="form-control">{{user.addres}}</textarea>
                        {% else%}
                        <textarea name="address" class="form-control"></textarea>
                        {%endif%}
                        {%else%}
                        {%endif%}
                    </div>
                   
                </div>

                <div class="row mt-2">
                    <div class="col-sm-12">
                        <input type="submit" class="form-control btn btn-danger" style="background-color:red; color:white" value="Place Order">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</form>

<script>
    function del_calc(){
       
        tot=document.getElementById('price').value
        deli=document.getElementById('delivery').value
    
        document.getElementById('sum').value=parseFloat(tot)+parseFloat(deli)

    }
</script>
<script>
  
    function calc_sum() {
          
          
          total = 0;
          $('.tot_item').each(function () {
              total += parseFloat($(this).val()) ;
              
          });
          
  
          $('#price').val((total).toFixed(2));
          $('#sum').val((total).toFixed(2));
          del_calc()
      }
  </script>

<script>
  


    function increment(id) {
       
        var numberInput = document.getElementById(`numberInput${id}`);
        numberInput.value = parseInt(numberInput.value) + 1;
        var qty = document.getElementById(`numberInput${id}`).value;
        var amount = document.getElementById(`amount${id}`).value;
        
        document.getElementById(`itm_amount${id}`).value=parseInt(qty)*parseInt(amount)
        calc_sum()
        
    }
    
    
    function decrement(id) {
        var numberInput = document.getElementById(`numberInput${id}`);
        var value = parseInt(numberInput.value) - 1;
        // Ensure the value doesn't go below 0
        numberInput.value = value < 0 ? 0 : value;
        var qty = document.getElementById(`numberInput${id}`).value;
        var amount = document.getElementById(`amount${id}`).value;
        document.getElementById(`itm_amount${id}`).value=parseInt(qty)*parseInt(amount)
        calc_sum()
    }
 
</script>

  <script>
    const input = document.getElementById('search')
    input.addEventListener('keyup', (e) => {
    var inputs = e.target.value.toLowerCase(); //do lowercase
    document.querySelectorAll('.outers').forEach(function(el) {
        el.style.display = 'none';
    });

    document.querySelectorAll('.outers .card-title').forEach(function(el) {
        //compare 
        if (el.textContent.toLowerCase().indexOf(inputs) > -1) {
        el.closest('.outers').style.display = "block"; //if match show that div
        }
    })
    })
</script> 


  <script>
      
       function fieldset1_function(){
          document.getElementById('field2').style.display="none";
          document.getElementById('field1').style.display="block";

       }
       function fieldset2_function(){
          document.getElementById('field1').style.display="none";
          document.getElementById('field2').style.display="block";

       }
 
   </script> 


{% endblock %}