{% extends 'admin/admin_base.html' %}
<!-- DEVprojects -->
{%load static%}
{%block content%}

<style>
body {
    font-family: Arial, sans-serif;
}

.flash-message {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


</style>



<div class="flash-message" id="flashMessage">This is a flash message!</div>

<button onclick="showFlashMessage()">Show Flash Message</button>





<script>
function showFlashMessage() {
    var flashMessage = document.getElementById("flashMessage");

    // Show the flash message
    flashMessage.style.display = "block";

    // Hide the flash message after 3 seconds (adjust as needed)
    setTimeout(function () {
        flashMessage.style.display = "none";
    }, 3000);
}

</script>
{% endblock %}
