{% extends 'admin/admin_base.html' %}
<!-- DEVprojects -->
{%load static%}
{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Top-to-Bottom Expandable Transition</title>
  <style>
    .collapsible {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.collapsible.active {
  max-height: 200px; /* Adjust the value based on your content height */
}

.content {
  padding: 15px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

  </style>
</head>
<body>
  <button id="toggleButton">Toggle Content</button>
  <div id="hiddenDiv" class="collapsible">
    <div class="content">
      <!-- Your content goes here -->
      <p>This is some expandable content.</p>
    </div>
  </div>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
  var toggleButton = document.getElementById("toggleButton");
  var hiddenDiv = document.getElementById("hiddenDiv");

  toggleButton.addEventListener("click", function() {
    hiddenDiv.classList.toggle("active");
  });
});

  </script>

  <script>
    window.addEventListener('load', () => {
         AOS.init({
             duration: 2000,
             easing: 'ease-in-out',
             once: true,
             mirror: false
         })
     });
  </script>
</body>
</html>

{% endblock %}
