{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.upload .upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.rounded-3{
    size: 70%;
}
@media (max-width:992px) {
    .rounded-3{
    size: 20%;
    }
      
}

</style>
<form action="{% url 'save_cart' items.id%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row mt-5 pt-5">
    <div class="col-sm-12">
        <div class="container">
            <div class="row mt-3">
                <div class="col-sm-6">
                    <div class="card" style="text-align: center;">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="{{items.image.url}}" class="w-75" alt="Avatar" id="main_img">

                            </div>
                        </div>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="owl-carousel owl_views_arrival">
                                        {% for l in sub%}
                                        <input type="text" name="model_num{{forloop.counter}}" value="{{l.id}}" hidden>
                                        <div class="item"><img src="{{l.image.url}}" class="rounded-3" style="width:70%;"
                                            alt="Avatar" onclick="imgchange('{{l.image}}','{{l.id}}')"/></div>
                                        {%endfor%}
                                        <!-- Add more items as needed -->
                                      </div>
                                    
                                    
                                    <!-- <button class="btn btn-outline-dark" style="width: 15%;height: 100%;">View <br> all</button> -->
                            
    
                                </div>
                            </div>

                            <div class="row mt-3" style="text-align: justify;">
                                <div class="col-sm-12">
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, eius excepturi officiis vitae,</li>
                                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, eius excepturi officiis vitae,</li>
                                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, eius excepturi officiis vitae,</li>
                                    </ul>
                                    
                                </div>
                            </div>

                            

                             
                             
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="row mt-4">
                        <div class="col-sm-12">
                            <h4>{{items.name}}</h4>
                        </div>
                        
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <p>{{items.title_description}}</p>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <h5 style="font-size: 24px;">₹{{items.offer_price}} <span style="font-size: 16px;"><strike>₹{{items.price}}</strike></span></h5>
                            <input type="number" id="cart_id" name="cart_id" hidden>
                        </div>
                        
                    </div>
                    <label for="" class="mt-3">Select Size : </label>
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;" onclick="changesize('XS')">XS</div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;" onclick="changesize('S')">S</div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;" onclick="changesize('M')">M</div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;" onclick="changesize('L')">L</div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;" onclick="changesize('XL')">XL</div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;" onclick="changesize('XXL')">XXl</div>
                        </div>
                        
                    </div>

                    

                    <label for="" class="mt-5">Select Color : </label>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px; background-color: white;" onclick="change_color('white')"></div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;background-color: red;" onclick="change_color('red')"></div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;background-color: yellow;" onclick="change_color('yellow')"></div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;background-color: green;" onclick="change_color('green')"></div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px;background-color: magenta;" onclick="change_color('magenta')"></div>
                            <div class="btn btn-outline-dark" style="width: 48px; height: 48px; background-color: mediumblue;" onclick="change_color('mediumblue')"></div>
                        </div>
                        
                    </div>

                    <label for="" class="mt-5">Select Meterial : </label>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn btn-outline-dark pl-4 pr-4 mt-2" style=" height: 48px;" onclick="change_meterial('cotton')">Cotton</div>
                            <div class="btn btn-outline-dark pl-4 pr-4 mt-2" style="height: 48px;" onclick="change_meterial('Poly Cotton')">Poly Cotton</div>
                            <div class="btn btn-outline-dark pl-4 pr-4 mt-2" style="height: 48px;" onclick="change_meterial('Polyester')">Polyester</div>
                        </div>
                        
                    </div>
                    
                    <label for="" class="mt-5">Joursey Name : </label>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" name="text" id="" class="form-control">
                        </div>
                        
                    </div>

                    <label for="" class="mt-5">Joursey Number: </label>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="text" name="number" id="" class="form-control">
                        </div>
                        
                    </div>

                
                    <div class="row mt-5">
                        <div class="col-sm-12 ">
                            
                                <div class="center">
                                    
                                    <div >
                                        <label for="">Upload Design : </label><br>
                                        
                                        <input type="file" class="upload-input form-control" name="design" /> <br><br>

                                        <label for="">Upload Logo : </label><br>
                                        
                                        <input type="file" class="upload-input form-control" name="logo" /> <br><br>
                                    </div>
                            
                                    
                            
                                </div>
      
                        </div>
                        

                        
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            {% if user%}
                      
                                <input type="submit" class="btn btn-danger form-control" style="background-color: red; color: white;" value="Add to Cart">
                         
                            
                            {%else%}
                            

                            <a href="{% url 'carts'%}">
                                <div class="btn btn-danger form-control" style="background-color: red; color: white;">
                                    Add to Cart
                                </div>
                                
                            </a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>
</form>

<script>
function changesize(val){
    var cart_id = document.getElementById("cart_id").value;
    $.ajax({
        type: "GET",
        url: "{% url 'cart_cust_size' %}",
        data: {
            ele : val,
            cart_id:cart_id,
            prd_id:'{{items.id}}'
            
            
        },
        success:function(response){
            console.log(response)
            ids = response.ids
           
            document.getElementById('cart_id').value=ids
            alert("Order Status Update Successfully")
        }});

}


function change_color(val){
    var cart_id = document.getElementById("cart_id").value;
    $.ajax({
        type: "GET",
        url: "{% url 'cart_change_color' %}",
        data: {
            ele : val,
            cart_id:cart_id,
            prd_id:'{{items.id}}'
            
            
        },
        success:function(response){
            console.log(response)
            ids = response.ids
           
            document.getElementById('cart_id').value=ids
            alert("Order Status Update Successfully")
        }});

}

function change_meterial(val){
    var cart_id = document.getElementById("cart_id").value;
    $.ajax({
        type: "GET",
        url: "{% url 'cart_change_meterial' %}",
        data: {
            ele : val,
            cart_id:cart_id,
            prd_id:'{{items.id}}'
            
            
        },
        success:function(response){
            console.log(response)
            ids = response.ids
           
            document.getElementById('cart_id').value=ids
            alert("Order Status Update Successfully")
        }});

}




</script>
<script>
    function imgchange(img,id){
        
        itm=document.getElementById('main_img')
        itm.src="/media/"+img
        var cart_id = document.getElementById("cart_id").value;
        $.ajax({
            type: "GET",
            url: "{% url 'cart_change_model' %}",
            data: {
                ele : id,
                cart_id:cart_id,
                prd_id:'{{items.id}}'
                
                
            },
            success:function(response){
                console.log(response)
                ids = response.ids
            
                document.getElementById('cart_id').value=ids
                alert("Order Status Update Successfully")
            }});
        
    }
</script>
<script>
    $(document).ready(function(){
      $('.owl_views_arrival').owlCarousel({
        loop:true,
        margin:10,
        autoplay: true,
        nav:false,
        navigation: false,
        dots:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
        });
  
    
    });
  </script>

{% endblock %}